@import url("https://fonts.googleapis.com/css?family=Outfit");
@import "utils/variables";
@import "utils/functions";
@import "utils/mixins";
@import "utils/extensions";

@import "base/base";
@import "base/display";
@import "base/typography";

@import "layout/container";

@import "pages/home";

.card {
  box-sizing: border-box;
  width: 350px;
  height: 596px;
  padding: 24px 24px 32px;
  background-color: $dark-blue-900;
  border-radius: 15px;
  margin-bottom: 25px;

  &-image {
    width: 302px;
    height: 302px;
    border-radius: 8px;
    background: url("../images/image-equilibrium.jpg");
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      transition: 400ms;
      background: rgba(0, 255, 248, 0.43) url("../images/image-equilibrium.jpg");
      background-blend-mode: overlay;
      background-size: cover;
    }

    &:hover > .card-image-view {
      transition: 600ms;
      transform: scale(1.15);
      display: block;
    }

    &-container {
      position: relative;
    }

    &-view {
      display: none;
    }
  }

  &-eth {
    & > img {
      margin-right: 8px;
    }

    display: flex;
    justify-content: left;
    align-items: center;

    color: #00FFF8; //styleName: Caption (Bold);
    font-family: Outfit;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;

  }

  &-clock {
    & > img {
      margin-right: 8px;
    }

    display: flex;
    justify-content: right;
    align-items: center;
    color: #8BACD9;
    //styleName: Caption;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: $dark-blue-800 solid 1px;
    margin-bottom: 16px;
  }

  &-author {
    display: flex;
    justify-content: left;
    align-items: center;

    & > img {
      width: 33px;
      height: 33px;
      margin-right: 16px;
    }

    color: #8BACD9;

    & > a {
      margin-left: 5px;
    }
  }
}